<div class="auth-container">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit" class="auth-button">Register</button>
    <p *ngIf="registrationError" class="error-message">{{ errorMessage }}</p>
    <p class="switch-auth">Already have an account? <a routerLink="/login">Login here</a></p>
  </form>
</div>
