<div class="gallery-list-container">
  <h2>Photo Galleries</h2>
  <ng-container *ngIf="photoAlbums$ | async as photoAlbums">
    <div *ngIf="photoAlbums.length > 0; else noAlbums">
      <div class="album-grid">
        <div *ngFor="let album of photoAlbums" class="album-card">
          <a [routerLink]="['/gallery', album.id]">
            <img [src]="album.coverPhotoUrl || 'assets/galleries/default-album-cover.png'" alt="Cover photo for {{ album.title }}" class="album-cover">
            <div class="album-info">
              <h3>{{ album.title }}</h3>
              <p>{{ album.description }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noAlbums>
    <p>No photo albums available at this time. Check back later!</p>
  </ng-template>
</div>
